/*
 * Estilos de tu proyecto
 */
 * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
}
header{
  position: fixed;
  background-color: #2c3e50;
  margin: 0;
  width: 100%;
  height: 110px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 40px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}
section .first{
	padding-top: 200px;
    padding-bottom: 100px; 
	text-align: center;
	color:white;
	background-color: #18bc9c;
}
.line{
	border-top: 5px solid #FFF;
	width: 10%;
	display:inline-block;
	position: relative;
	bottom:10px;
}
.line2{
	border-top: 5px solid #2c3e50;
	width: 10%;
	display:inline-block;
	position: relative;
	bottom:10px;
}

.fa{
	color:#FFF;
	display: inline-block;
}

.portfolio .fa{
	color:#2c3e50;
	display: inline-block;
}

img .profile{
	vertical-align: center;
    margin: 0px auto 20px;
}
header div h1{
    margin:0;
    display: inline-block;
    position: relative;
    top:30px;
}
header div a{
    margin:0px 5px;
    display: inline-block;
    position: relative;
    left: 500px;
    top:30px;
}
header div a:hover{
    color:#18bc9c;
    cursor: pointer;
}
section div h1{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 80px;
	margin: 0;
}
p{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
}
section .portfolio{
	padding-top: 80px;
	text-align: center;
	color:#212529;
	background-color:white;
}
section .portfolio h1{
    font-size: 48px;
}
.innerport{
    height:250px;
    width:350px;
    margin : 30px;
}
.innerport:hover{
    opacity: 0.5;
  	cursor: pointer;
  	background: #18bc9c;
}
section .about{
	padding: 100px 300px;
	text-align: center;
	color:white;
	background: #18bc9c;
}
section .about h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}
section .about .fa-star{
	color:white;
}

section .about h2{
	columns: 2;
	font-weight: 400;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: left;
}
section .download{
	height:50px;
    width:200px;
    border-radius: 5px;
	position: relative;
	left:280px;
	border: 2px solid white;
	margin:0;
}
section .download p{
	margin:0;
}
section .about .fa-download{
	color: white;
	padding-right: 10px;
}
section .download a{
	font-size: 15px;
	text-decoration: none;
	color:white;
}
section .download:hover{
	cursor: pointer;
    opacity: 0.5;
    color:#18bc9c;
}

section .download h2{
	display: inline-block;
}
section .contact-me{
	padding-top: 80px;
	text-align: center;
	color:#212529;
	background-color:white;
	padding: 100px 300px;
}
section .contact-me h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;

}
section .contact-me .fa-star{
	color: #212529;
}

section .contact-me form{

	font-weight: 400;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
	font-size: 24px;
	text-align: justify;

}
section .send {
	background-color: #18bc9c;
	height:50px;
    width:80px;
    border-radius: 5px;
}
section .send a{
	font-size: 20px;
	text-decoration: none;
	color:white;
}
section .send:hover{
	cursor: pointer;
    opacity: 0.5;
    color:#18bc9c;
}

footer {

	display:inline-block;
	background-color: #2c3e50;
    margin: 0;
    width: 100%;
    height: 210px;
    color:white;
}
footer .final {
	display: inline-block;
	margin:0px 70px;
	text-align: center;
	line-height: 1;
	padding-top: 20px;

}
footer .primer h1{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color:white;

}
footer .primer h3{
    font-weight: normal;
}


.container {
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 14px;
	padding-right: 14px;
}

.container:before, .container:after {
	content: " ";
	display: table;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container:after {
	clear: both;
